* {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.project {
  border: 3px solid darkgrey;
  max-width: 90%;
  margin: 10px auto;
}

#mcmap {
  margin: 0 auto;
  height: 500px;
  width: 800px;
}

h3 {
  margin: 50px auto;
  font-size: 24px;
}

button {
  font-size: 15px;
  position: fixed;
  bottom: 10px;
  left: 45%;
}

.original img {
  height: 600px;
  width: 800px;
}

.new {
  display: block;
  margin: 0 auto;
}

.original {
  display: none;
}

.legend {
  background: rgba(255, 255, 255, 0.7);
}

.legend p {
  font-size: 10px;
  line-height: 14px;
  text-align: left;
}
.legend i {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid black;
    margin-right: 8px;
}
